body{
    background-color: white;
}
.heading{
    color:  rgb(10, 10, 10);
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    background-color: white;
    
}
form .input{
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    margin: 20px -5px;
    padding: 8px 13px;
    box-shadow: 0px 0px 4px aqua;
}
.row{
    
    margin: 10px 0px;
    padding: 0px 25px;   
}
.button{
    border-radius: 3px;
    padding: 10px 14px;
    margin: 3px;
}
.rowdot{
    padding: 10px 17.2px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowper{
    padding: 10px 13.3px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowCC{
    padding: 10px 14px;
    margin-left:0px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 4px aqua;
}
.rowC{
    padding: 10px 10.2px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row7{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row8{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row9{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowmulti{
    padding: 10px 16.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row5{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row4{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row6{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowdiv{
    padding: 10px 17px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row1{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row2{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row3{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowadd{
    padding: 10px 15px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row00{
    padding: 10px 12px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowequal{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.row0{
    padding: 10px 15.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.rowsub{
    padding: 10px 16.5px;
    margin-left:1.5px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 4px aqua;
}
.form{
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    margin: 0px 20px;
}
